<div class="temoignages">
<div id="login-container-sylvie">
  <div class="profile-img"></div>
  <h1>
    Sylvie
  </h1>
  <div class="description">
   "Avec Alcatus, nous avons trouvé une application de gestion de recrutements externalisée fiable, permettant un véritable travail collaboratif au sein de notre service de recrutement.

Ce qui nous a séduit, c'est une offre globale et personnalisable. Pour un coût maîtrisé, nous disposons d'une solution intégrant des fonctionnalités performantes. Cette application nous a permis d'harmoniser nos pratiques de recrutement, de nous constituer un véritable vivier de candidats. L'externalisation de cette application apporte également beaucoup de souplesse : avoir son outil de travail partout et tout le temps c'est être en mesure à tout moment d'apporter des solutions à nos clients internes."
  </div>
</div>



<div id="login-container-franck">
  <div class="profile-img"></div>
  <h1>
    Franck
  </h1>
  <div class="description">
   "Au fil des années, notre cabinet s'est retrouvé à devoir gérer des milliers de données, parfois réparties entre plusieurs formats : sous Ms Outlook, sous Excel, dans des classeurs, etc... Nous devions impérativement trouver une solution nous permettant de capitaliser l'ensemble du travail de sourcing réalisé.

Avec Alcatus, pour ne citer qu'un de ses atouts, nous disposons d'une base de données unique, intuitive et accessible de partout.
Il y a bien d'autres atouts tels que : l'archivage des emails envoyés aux candidats, la sauvegarde des dossiers de candidature et la sauvegarde des données notamment sur un équipement autre que sur son disque dur.
Cet aspect est particulièrement crucial dans notre activité de recrutement. Notre métier induit l'échange et la gestion d'une masse de documents. L'économie de temps, la sécurité ainsi que la sérénité qui en résultent contribuent à améliorer aussi bien l'efficacité que le confort."
  </div>
</div>
</div>
