<div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-twitter"></i></a></div>
            <p class="copyright">Company Acatus© 2021</p>
            <p class="copyright ">Propulsé par le collectif de l'Atelier409 </p>
        </footer>
    </div>



