
<div class="navbar">
  <%= link_to "#",  class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675514/alcatus/logo-alcatus-print-nobkg-1_n97so0.jpg"%>
    <% end %>
      <a class="nav-item nav-link" href="/solution">Solution</a>
      <a class="nav-item nav-link" href="/tarif">Tarifs</a>
      <a class="nav-item nav-link" href="/temoignage">Temoignages</a>
      <a class="nav-item nav-link" href="">Téléchargez notre brochure</a>
</div>
