<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dv6bffyjj/image/upload/v1623677011/alcatus/backgorund2_mwdetc.jpg);">
  <div class="container">
    <h1>Alcatus Sofware</h1>
    <p>Alcatus est une application innovante, pour la gestion des recrutements et des candidatures, qui permet de réduire le cycle d’un proccess de recrutement.

L'entreprise Française Alcatus Software se concentre essentiellement sur le développement et la distribution d’un logiciel de recrutement et de gestion de candidatures pour le traitement des CV et des candidats</p>

    <a class="button-ban" href="#">DEVIS GRATUIT</a>
  </div>
</div>



<h2 class="section-title">Notre Solution </h2>





<div class="contact subbanner light-text" id="contact">
  <div class="container">
    <h2 class="section-title">Contact</h2>
    <div class="contact-section row">
        <div class="contact-details col-sm-12 col-md-3">
            <p>contact@alcatus.com</p>
            <p>+33 6 10 10 10 10 </p>
            <p>Marseille region, France</p>
        </div>
        <div class="col-sm-12 col-md-9">
            <%= render 'contacts/new' %>
        </div>
    </div>
</div>
</div>

