<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675514/alcatus/logo-alcatus-print-nobkg-1_n97so0.jpg" %>
    <% end %>
      <a class="nav-item nav-link" href="/solution">Solution</a>
      <a class="nav-item nav-link" href="/tarif">Tarifs</a>
      <a class="nav-item nav-link" href="/temoignage">Temoignages</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dv6bffyjj/image/upload/v1623677011/alcatus/backgorund2_mwdetc.jpg);">
  <div class="container">
    <h1>Alcatus Sofware</h1>
    <p>Alcatus est une application innovante, pour la gestion des recrutements et des candidatures, qui permet de réduire le cycle d’un proccess de recrutement.

L'entreprise Française Alcatus Software se concentre essentiellement sur le développement et la distribution d’un logiciel de recrutement et de gestion de candidatures pour le traitement des CV et des candidats</p>
    <a class="btn btn-flat" href="#">DEVIS GRATUIT</a>
  </div>
</div>

<h2 class="section-title">Notre Solution </h2>

<div class="card-grid">
  <div class="card">DIV</div>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
</div>


<div class="contact subbanner light-text" id="contact">
  <div class="container">
    <h2 class="section-title">Contact</h2>
    <div class="contact-section row">
        <div class="contact-details col-sm-12 col-md-3">
            <p>contact@atelier409.com</p>
            <p>+33 6 42 43 19 75</p>
            <p>Marseille region, France</p>
        </div>
        <div class="col-sm-12 col-md-9">
            <%= render 'contacts/new' %>
        </div>
    </div>
</div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Site propulsé par le collectif  de <strong>l'Atelier 409</strong>
  </div>
