
.card-solution1 {
  overflow: hidden;
  height: 120px;
  background: #88CBD4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-solution1 img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-solution1 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-solution1 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-solution1 .card-solution1-infos {
  padding: 16px;
}
