
.page-solution-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  margin: 20px auto;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .page-solution-card {
    flex-direction: column;
  }
  .page-solution-title {
    text-align: center;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .page-solution-card {
    flex-direction: row;
  }
  .page-solution-title {
    text-align: left;
  }
}

.page-solution-image {
  width: 120px;
  object-fit: cover;
  padding: 8px;
}

.page-solution-title {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  margin: 0;
}

.page-solution-text {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.page-solution-info {
  padding: 16px;
}


