<div class="container">
  <div class="col-sm-12 text-center align-items-end">
  <div class="card-solutions">
<div class="card-solution1">
  <img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675826/alcatus/noun_Email_3240098_kpgzru.png" />
  <div class="card-solution1-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


<div class="card-solution1">
  <img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675826/alcatus/noun_Email_3240098_kpgzru.png" />
  <div class="card-solution1-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


<div class="card-solution1">
  <img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675826/alcatus/noun_Email_3240098_kpgzru.png" />
  <div class="card-solution1-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>



<div class="card-solution1">
  <img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675826/alcatus/noun_Email_3240098_kpgzru.png" />
  <div class="card-solution1-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

</div>
</div>
</div>


