<h2 class="section-title">Notre Solution </h2>

<div class="container">

  <div class="page-solution-card" id="kpi">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675824/alcatus/noun_Business_2692422_cz9fpd.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">KPI</h2>
      <p class="page-solution-text">Suivez l’avancement de chaque process de recrutement, consultez le listing de l'ensemble des candidats positionnés sur une offre d’emploi. Vous pourrez rapidement connaître la position de chaque candidat dans un process de recrutement.</p>
      <p class="page-solution-text">Envoyez un mail individuel ou collectif à vos candidats. Très pratique pour organiser vos rendez-vous ou effectuer des actions de relance.</p>
    </div>
  </div>

  <div class="page-solution-card" id="aspiration">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675824/alcatus/noun_Business_2603863_tnsys1.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">Aspiration des CV</h2>
      <p class="page-solution-text">En un clic, intégrez vos CV dans votre CVthèque. Un ingénieux système de reconnaissance sémantique vous permettra d'économiser du temps en saisie.</p>
    </div>
  </div>

  <div class="page-solution-card" id="agenda">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675822/alcatus/noun_agenda_3393040_oxcsbd.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">Agenda</h2>
      <p class="page-solution-text">Les échanges que vous initierez avec les candidats seront automatiquement intégrés et archivés dans la CVthèque. Vous gagnerez du temps pour ainsi vous concentrer sur des activités à plus forte valeur ajoutée.</p>
      <p class="page-solution-text">La fonction agenda vous permettra d'organiser vos rendez-vous et de générer des alertes automatiques.</p>
    </div>
  </div>

  <div class="page-solution-card" id="cvtheque">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675825/alcatus/noun_Communication_2609875_arnxhq.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">Configurer la CVthèque</h2>
      <p class="page-solution-text">Vous n'aurez plus à vous adapter à l'outil, c'est l'outil qui s'adaptera à vos besoins. Alcatus dispose d'un espace dédié au paramétrage de vos process de recrutements, métiers que vous couvrez, compétences que vous recherchez, secteurs d'activité,...</p>
      <p class="page-solution-text">Par ailleurs, vous pourrez accéder à vos données depuis votre PC, Mac, Tablette ou Smartphone. Alcatus est accessible avec la plupart des navigateurs (Chrome, IE, Firefox,...).</p>
    </div>
  </div>

  <div class="page-solution-card" id="diffusion">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675826/alcatus/noun_Email_3240098_kpgzru.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">Diffusion des offres d'emploi</h2>
      <p class="page-solution-text">Un module vous permet de publier vos offres d’emploi sur votre site internet et cela dans le respect de votre charte graphique.</p>
    </div>
  </div>

  <div class="page-solution-card" id="communiquer">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675825/alcatus/noun_Communication_1254843_jmkjnj.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">Communiquer</h2>
      <p class="page-solution-text">Un module dédié aux candidats vous permettra d'avoir des échanges en temps réel. D'un seul clic, vous êtes en contact avec les profils sélectionnés. L'ensemble des échanges inités seront automatiquement sauvegardés dans le suivi du candidat avec lequel vous entrez en relation.</p>
    </div>
  </div>

  <div class="page-solution-card" id="vivier">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675823/alcatus/noun_business_people_216722_y0iko3.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">Constituer un vivier</h2>
      <p class="page-solution-text">Plus qu’une base de données, Alcatus est un vivier de candidats que vous allez vous constituer. Une application innovante vous permettra en toute simplicité d'identifier la précieuse compétence que vous recherchez.</p>
      <p class="page-solution-text">Une fonction "recherche étendue" vous permettra de faire une recherche exhausitive dans la CVthèque.</p>
    </div>
  </div>

  <div class="page-solution-card" id="talents">
    <img class="page-solution-image" src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623675826/alcatus/noun_source_2572192_d9qpws.png" />
    <div class="page-solution-info">
      <h2 class="page-solution-title">Rechercher des talents</h2>
      <p class="page-solution-text">Très pratique pour vous permettre de retrouver un candidat. Une application innovante vous permettra en toute simplicité d'identifier la précieuse compétence que vous recherchez.</p>
      <p class="page-solution-text">Une fonction "recherche multi-critères" vous permettra de faire une recherche exhaustive dans l'ensemble des documents de la CVthèque.</p>
    </div>
  </div>
</div>


